@model BankData.Data.CMS.Art2

@{
	ViewData["Title"] = "Cyk i nie trzeba wzywać programisty";
	<link rel="stylesheet" href="~/css/artEdit.css" asp-append-version="true" />
}

<h1>Edycja Artykułu Drugiego Strony Głównej</h1>
<hr />

<div class="section-2">
	<form asp-action="Edit">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="IdArt2" />
		<p class="p-1">
			<label asp-for="Tytul" class="control-label"></label>
			<input asp-for="Tytul" class="form-control" />
			<span asp-validation-for="Tytul" class="text-danger"></span>
		</p>
		<div class="cont">
			<div class="class=" p-3"">
				<textarea asp-for="Tresc1" class="form-control-desc"></textarea>
				<span asp-validation-for="Tresc1" class="text-danger"></span>
			</div>
			<div class="p-31">
				<textarea asp-for="Tresc2" class="form-control-desc"></textarea>
				<span asp-validation-for="Tresc2" class="text-danger"></span>
			</div>
			<div class="art2-img">
				<textarea asp-for="Grafika" class="form-control-desc"></textarea>
				<span asp-validation-for="Grafika" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group-btn">
			<input type="submit" value="Edytuj" class="button" />
			<a class="button" asp-action="Index">Powrót</a>
		</div>
	</form>


</div>

<div class="row">
	<div class="col-md-4">
	</div>
</div>

<div>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
