@{
	<link rel="stylesheet" href="~/css/aboutus.css" asp-append-version="true" />
}
	@await Html.PartialAsync("Strony", (IEnumerable<BankData.Data.CMS.Strony>)ViewBag.ModelStrony)
<div class="field" style="background-image: url(@ViewBag.AboutUs.Grafika)">
	<h2 class="title"> @ViewBag.AboutUs.Tytul </h2>
	<p class="text">
		@ViewBag.AboutUs.Opis 
	</p>
</div>
