

@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);

body {
    font-family: "Lato";
    font-size: 100%;
    overflow-y: scroll;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
}
.app {
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: 250px 1fr;
}

.main-box {
    grid-column: 2;
    min-width:1000px;
    width: 100%;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
}

a {
    text-decoration: none;
    transition: all 0.6s ease;
}

    a:hover {
        transition: all 0.6s ease;
    }


/* ------------- Sidebar ----------------*/
.sidebar {
    grid-column:1;
    position: fixed;
    height: 100%;
    width:15%;
    min-width:250px;
    top: 0;
    overflow: hidden;
    background-color: #19222a;
    transform:translateZ(0);
    visibility: visible;
}

    .sidebar header {
        background-color: #09f;
        width: 100%;
        display: block;
        padding: 0.75em 1em;
        font-weight:bold;
    }
/* ------------- Sidebar Nav ----------------*/
.sidebar-nav {
    position: fixed;
    background-color: #19222a;
    height: 100%;
    font-weight: 400;
    font-size: 1.2em;
    overflow: auto;
    padding-bottom: 6em;
    z-index: 9;
    overflow: hidden;

}

    .sidebar-nav ul {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
    }

        .sidebar-nav ul li {
            margin-left: 0;
            padding-left: 0;
            display: inline-block;
            width: 100%;
            /* ------------- Sidebar: icons ----------------*/
        }

            .sidebar-nav ul li a {
                color: rgba(255, 255, 255, 0.9);
                font-size: 0.75em;
                padding: 1.05em 1em;
                position: relative;
                display: block;
            }

                .sidebar-nav ul li a:hover {
                    background-color: rgba(0, 0, 0, 0.9);
                    transition: all 0.6s ease;
                }

            .sidebar-nav ul li i {
                font-size: 1.8em;
                padding-right: 0.5em;
                width: 9em;
                display: inline;
                vertical-align: middle;
            }

    .sidebar-nav > ul > li > a:after {
        content: src("Icons/manage-content.png");
        font-family: ionicons;
        font-size: 0.5em;
        width: 10px;
        color: #fff;
        position: absolute;
        right: 0.75em;
        top: 45%;
    }

    .sidebar-nav .nav-flyout {
        position: absolute;
        background-color: #080d11;
        z-index: 9;
        left: 2.5em;
        top: 0;
        height: 100vh;
        transform: translateX(100%);
        transition: all 0.5s ease;
    }

        .sidebar-nav .nav-flyout a:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }

    .sidebar-nav ul > li:hover .nav-flyout {
        transform: translateX(0);
        transition: all 0.5s ease;
    }

.intra-icon {
    background-color: transparent;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.intra-icon2 {
    background-color: transparent;
    width: 20px;
    height: 20px;
}


