@model BankData.Data.CMS.Art1

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Art1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tytul" class="control-label"></label>
                <input asp-for="Tytul" class="form-control" />
                <span asp-validation-for="Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwa1" class="control-label"></label>
                <input asp-for="Nazwa1" class="form-control" />
                <span asp-validation-for="Nazwa1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwa2" class="control-label"></label>
                <input asp-for="Nazwa2" class="form-control" />
                <span asp-validation-for="Nazwa2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwa3" class="control-label"></label>
                <input asp-for="Nazwa3" class="form-control" />
                <span asp-validation-for="Nazwa3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grafika1" class="control-label"></label>
                <input asp-for="Grafika1" class="form-control" />
                <span asp-validation-for="Grafika1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grafika2" class="control-label"></label>
                <input asp-for="Grafika2" class="form-control" />
                <span asp-validation-for="Grafika2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grafika3" class="control-label"></label>
                <input asp-for="Grafika3" class="form-control" />
                <span asp-validation-for="Grafika3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis1" class="control-label"></label>
                <input asp-for="Opis1" class="form-control" />
                <span asp-validation-for="Opis1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis2" class="control-label"></label>
                <input asp-for="Opis2" class="form-control" />
                <span asp-validation-for="Opis2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis3" class="control-label"></label>
                <input asp-for="Opis3" class="form-control" />
                <span asp-validation-for="Opis3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podsumowanie" class="control-label"></label>
                <input asp-for="Podsumowanie" class="form-control" />
                <span asp-validation-for="Podsumowanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

