.u-section-1 {
  background-image: none;
  align-items: top;
  height: 700px;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}
.input1 {
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
}
.button1 {
  width: 80px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 9%;
}
.input3 {
  width: 130px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 10%;
}
.form1 {
  background-color:lightblue;
  width: 50%;
  height: 50%;
  margin-top: 15%;
  margin-left: 25%;
  border: 2px solid black;
  align-items: center;
  border-radius: 10px;
}
.table1 {
  margin-top: 10%;
  margin-left: 10%;
  font-size: 20px;
  color: black;
}
div {
  margin-top: 20%;
  align-content: center;
  text-align: center;
}
.p1 {
  font-size: 24px;
  text-align: center;
  color: black;
}

.body1 { 
    background-color: teal; color: #FFFFFF;
    border: 3px solid black;
}
.a1 {
   color: black;
}