@model BankData.Data.Bank.KontoFirmowe

@{
    ViewData["Title"] = "Edit";
	<link rel="stylesheet" href="~/css/edit-list-style.css" asp-append-version="true"/>
}

<h1>Edycja oferty dla Konta Firmowego</h1>

<hr />
<div class="form-body">
	<div class="row">
		<div class="form-holder">
			<div class="form-content">
				<div class="form-items">
					<form asp-action="Edit">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="IdUslugaSzczegolowa" />
						<div class="form-group">
							<label asp-for="Nazwa" class="control-label"></label>
							<input asp-for="Nazwa" class="form-control" />
							<span asp-validation-for="Nazwa" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Opis" class="control-label"></label>
							<input class="form-control-desc" asp-for="Opis"/>
							<span asp-validation-for="Opis" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Grafika" class="control-label"></label>
							<input asp-for="Grafika" class="form-control" />
							<span asp-validation-for="Grafika" class="text-danger"></span>
						</div>
						<div class="form-group-btn">
							<input type="submit" value="Edytuj" class="button" />
							<a class="button" asp-action="Index">Powrót</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

